<!doctype html>
<head>
    {%include "staff/meta.html"%}
    {%include "admin/style.html"%}
    {%include "script.html"%}
    <script type="text/javascript" src="/static/vendor/chart.js/Chart.min.js"></script>
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    {%include "admin/header.html"%}

    <div class="app-body">
        {%include "admin/sidebar.html"%}
        <!-- Main content -->
        <main class="main">
            
            {%include 'admin/breadcumb.html'%}
            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div class="container-fluid">
                        <div class="alert alert-info" role="alert">
                            <h2>Selamat Datang, Perpustakaan Daerah Selong (PERPUSDA) Selong</h2>
                        </div>
                        <div class="row">
                        <div class="col-sm-6">
                            <div class="card card-inverse card-primary">
                                <div class="card-header pb-0">
                                    <h4 class="mb-0"></h4>
                                    <p>Absen Masuk</p>
                                </div>

                                <div class="card-content" style="padding:20px;">
                                <div class="chart-wrapper px-3" style="height:100px;">
                                    <canvas id="card-chart1" class="chart" height="70"></canvas>
                                </div>
                                </div>
                            </div>
                        </div>
                        <!--/.col-->

                        <div class="col-sm-6">
                            <div class="card card-inverse card-warning">
                                <div class="card-header pb-0">
                                    <h4 class="mb-0"></h4>
                                    <p>Absen Keluar</p>
                                </div>
                                <div class="card-content" style="padding:20px;">
                                <div class="chart-wrapper px-3" style="height:100px;">
                                    <canvas id="card-chart2" class="chart" height="70"></canvas>
                                </div>
                                </div>
                            </div>
                        </div>
                        <!--/.col-->
                    </div>
                    </div>
                </div>
            </div>
            <!-- /.conainer-fluid -->
        </main>
    </div>
    {%include "admin/footer.html"%}
    <script src="/static/js/app.js"></script>
    <script type="text/javascript">
        $(function(){
  'use strict';

  //convert Hex to RGBA
  function convertHex(hex,opacity){
    hex = hex.replace('#','');
    var r = parseInt(hex.substring(0,2), 16);
    var g = parseInt(hex.substring(2,4), 16);
    var b = parseInt(hex.substring(4,6), 16);

    var result = 'rgba('+r+','+g+','+b+','+opacity/100+')';
    return result;
  }

  //Cards with Charts
  var labels = {{bulan|safe}};
  var data = {
    labels: labels,
    datasets:
      {{data_masuk|safe}}
  };
  var options = {
    maintainAspectRatio: false,
    legend: {
      display: false
    },
    scales: {
      xAxes: [{
        gridLines: {
          color: 'transparent',
          zeroLineColor: 'transparent'
        },
        ticks: {
          fontSize: 2,
          fontColor: 'transparent',
        }

      }],
      yAxes: [{
        display: false,
        ticks: {
          display: false,
          min: Math.min.apply(Math, data.datasets[0].data) - 5,
          max: Math.max.apply(Math, data.datasets[0].data) + 5,
        }
      }],
    },
    elements: {
      line: {
        borderWidth: 1
      },
      point: {
        radius: 4,
        hitRadius: 10,
        hoverRadius: 4,
      },
    }
  };
  var ctx = $('#card-chart1');
  var cardChart1 = new Chart(ctx, {
    type: 'line',
    data: data,
    options: options
  });

  var data = {
    labels: labels,
    datasets: {{data_keluar|safe}}
  };
  var options = {
    maintainAspectRatio: false,
    legend: {
      display: false
    },
    scales: {
      xAxes: [{
        gridLines: {
          color: 'transparent',
          zeroLineColor: 'transparent'
        },
        ticks: {
          fontSize: 2,
          fontColor: 'transparent',
        }

      }],
      yAxes: [{
        display: false,
        ticks: {
          display: false,
          min: Math.min.apply(Math, data.datasets[0].data) - 5,
          max: Math.max.apply(Math, data.datasets[0].data) + 5,
        }
      }],
    },
    elements: {
      line: {
        tension: 0.00001,
        borderWidth: 1
      },
      point: {
        radius: 4,
        hitRadius: 10,
        hoverRadius: 4,
      },
    }
  };
  var ctx = $('#card-chart2');
  var cardChart2 = new Chart(ctx, {
    type: 'line',
    data: data,
    options: options
  });

  var options = {
    maintainAspectRatio: false,
    legend: {
      display: false
    },
    scales: {
      xAxes: [{
        display: false
      }],
      yAxes: [{
        display: false
      }],
    },
    elements: {
      line: {
        borderWidth: 2
      },
      point: {
        radius: 0,
        hitRadius: 10,
        hoverRadius: 4,
      },
    }
  };
});

    </script>
</body>
</html>